@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:200,400');

 * {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: none;
  outline: none;
}

html, body {
  height: 100%
}

#app {
  height: 100%;
  background-color: #bbbbbb
}

.page {
  height: 100%;
}

.img-btn {
  cursor: pointer;
}



/* Style for Main Page */

.page.main .container-fluid {
  -webkit-transition: background-color 300ms ease-in;
     -moz-transition: background-color 300ms ease-in;
      -ms-transition: background-color 300ms ease-in;
       -o-transition: background-color 300ms ease-in;
          transition: background-color 300ms ease-in;
}

.logo {
  width: 70px;
  margin: 20px;
}

@media (max-width: 700px) {
  .logo {
    margin-left: 10px;
  }
}

.img-btn.setting {
  width: 44px;
  float: right;
  margin: 20px;
}

.pm25-information {
  text-align: center;
  color: #ffffff;
  padding: 50px;
}

@media (max-width: 400px) {
  .pm25-information {
    padding-top: 30px;
  }
}

.pm25-title {
  font-size: 2em;
}

@media (max-width: 700px) {
  .pm25-title {
    font-size: 1.5em;
  }
}

.pm25-value {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: lighter;
  display: block;
  padding: 30px 10px;
  font-size: 7em;
}

.pm25-value small {
  font-size: 25%;
  color: #fff;
}

.pm25-description {
  font-size: 1.5em;
  display: inline-block;
  border: 1px solid #fff;
  padding: 15px;
}



/* Style for Setting Page */

.img-btn.back {
  width: 30px;
  margin: 20px 0;
}

.container-fluid.setting input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #f1f1f1;
}

.container-fluid.setting ul {
  list-style: none;
  font-size: 1.2em;
}

.container-fluid.setting ul li {
  padding: .5em;
}

@media (max-width: 700px) {
  .container-fluid.setting ul {
    text-align: left;
    font-size: 1em;
  }

  .container-fluid.setting ul li {
    text-align: left;
    padding: .3em;
  }
}

.container-fluid.setting button {
  display: inline-block;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.setting-section {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(189, 189, 189, .5);
     -moz-box-shadow: 0px 0px 11px 0px rgba(189, 189, 189, .5);
          box-shadow: 0px 0px 11px 0px rgba(189, 189, 189, .5);
}

.level-table {
  padding: 12px;
}

.level-content {
  padding: 0;
  color: #fff;
  text-align: center;
}

.level-content:first-child {
  background: -webkit-linear-gradient(270deg, #89c541 0%, #388e3c 100%); 
  background:    -moz-linear-gradient(270deg, #89c541 0%, #388e3c 100%); 
  background:      -o-linear-gradient(270deg, #89c541 0%, #388e3c 100%);
  background:         linear-gradient(270deg, #89c541 0%, #388e3c 100%); 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.level-content:nth-child(2) {
  background: -webkit-linear-gradient(270deg, #fcd700 0%, #ff9800 100%); 
  background:    -moz-linear-gradient(270deg, #fcd700 0%, #ff9800 100%); 
  background:      -o-linear-gradient(270deg, #fcd700 0%, #ff9800 100%);
  background:         linear-gradient(270deg, #fcd700 0%, #ff9800 100%); 
}

.level-content:nth-child(3) {
  background: -webkit-linear-gradient(270deg, #ff5252 0%, #d32f2f 100%); 
  background:    -moz-linear-gradient(270deg, #ff5252 0%, #d32f2f 100%); 
  background:      -o-linear-gradient(270deg, #ff5252 0%, #d32f2f 100%);
  background:         linear-gradient(270deg, #ff5252 0%, #d32f2f 100%); 
}

.level-content:last-child {
  background: -webkit-linear-gradient(270deg, #9d1cb2 0%, #721c9d 100%); 
  background:    -moz-linear-gradient(270deg, #9d1cb2 0%, #721c9d 100%); 
  background:      -o-linear-gradient(270deg, #9d1cb2 0%, #721c9d 100%);
  background:         linear-gradient(270deg, #9d1cb2 0%, #721c9d 100%); 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.level-value {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding: 0;
}
.level-value div {
  padding: 25px 3px;
  font-size: 1.5em;
  margin-bottom: 0;
}

.level-content:first-child .level-value {
  border-top-left-radius: 5px;
}

.level-content:last-child .level-value div {
  line-height: 11em;
  border-bottom-left-radius: 5px;
}

.level-description div {
  text-align: left;
  padding-top: 10px;
  margin-bottom: 0;
}

.level-description li {
  margin-top: 5px;
}


.v-enter-active {
  animation: zoomInDown 1s
}

.v-leave-active {
  animation: zoomOutDown 1s;
}
